@use "../abstracts/index" as *;

.o-container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding-left: $space-24;
	padding-right: $space-24;
}

@media (max-width: $break-mobile) {
	.o-container {
		padding-left: $space-16;
		padding-right: $space-16;
	}
}